.pp{
    background-color: black;
    color: white;
    text-align: center;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

li{
    list-style-type: none;
    padding: 10px;
}
